@media  (max-width: 1200px){
    section{
        padding: 3rem 5%;
    }
}
    
@media  (max-width: 991px){
    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 2rem;
    }
    .home .slide .content h3{
        font-size: 10vw;
    }
}

@media  (max-width: 768px){
    
    .heading h1{
        font-size: 4rem;
    }
    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);

    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
}
    
@media  (max-width: 450px){
    html{
        font-size: 50%;
    }
    .heading-title{
        font-size: 3.5rem;
    }
    .footer .credit span{
        font-size: 2.5rem;
    }

   
}
    
